html,
body {
  margin: 0;
}

h1 {
  text-align: center;
}

input {
  text-align: center;
}
label[for*="-upload"] {
  background: rgb(240, 240, 240) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 1px outset rgb(0, 0, 0);
  padding: 1px 6px;
  padding-block: 1px;
  padding-inline: 6px;
  border-radius: 2px;
  font-size: 0.8rem;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

label[for*="-upload"]:hover,
label[for*="-upload"]:active {
  background-color: rgba(230, 230, 230);
}

input[type="file"] {
  display: none;
}

input[type="file"]:disabled + label {
  background-color: rgba(235, 235, 228);
  border-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  cursor: default;
}

textarea {
  vertical-align: middle;
  height: 1em;
  width: 100px;
}

.fa-stack {
  height: 1em !important;
  width: 1.25em !important;
  line-height: 1em !important;
}
